.menu-btn {
 display: none;
}

.menu {
 position: static;
 width: auto;
 flex-direction: row;
 opacity: 1;
 pointer-events: auto;
 font-size: 1.6rem;
}

.menu a:hover {

    background-color: transparent;
}


   
.header{
    position: sticky;

}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1;
}

p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
}


/* ******Hero Image***** */

