.menu-btn {
 display: none;
}

.menu {
 position: static;
 width: auto;
 flex-direction: row;
 opacity: 1;
 pointer-events: auto;
 font-size: 1.6rem;
}

.menu a:hover {

    background-color: transparent;
}


   
.header{
    position: sticky;

}

h1 {
    font-size: 4.5vw;
}

.hero-image__container p {
    font-size: 3.5vw;
    font-weight: bold;
   

}

/* ******Hero Image***** */

