/* Orden para maquetar
 propiedades de modelo de caja (display, width height, margin, etc)
 posicionamiento (position, top, left, rigth, etc)
 tipografia
 decoracion (backgraund,color, etc)
 variables 
 mixiens
 */

 :root {
    --firts-color:#fff;
    --firts-alpha-color: rgba(217, 0, 98, 0.7);
    --second-color: #000;
    --second-alpha-color: rgba(20, 25, 45, 0.7);
    --third-color: #501464;
    --third-alpha-color: rgba(80, 20, 100, 0.7);
    --white-color: #fff;
    --gray-light-color: #f9f9f9;
    --gray-color: #cccccc;
    --gray-dark-color: #666666;
    --black-color: #000000;
    --link-color: #509ee3;
    --title-color: #333333;
    --text-color:#222222;
    --white-aplha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --sm: 12px ;
    --md: 16px ;
    --lg: 24px;
    --Elg: 28px;
    --Xlg: 32px;

 }

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto','Montserrat', sans-serif;
    
    scroll-behavior: smooth;
}

body{
    margin: auto;
    overflow-x: hidden;
}


h2 {
    font-size: 1.8rem;
}

p {
    font-size: 1.2rem;
}
/* ******Cabecera****** */

.header {
    position: absolute;;
    width: 100%;
    background-color: var(--second-color);
    display: flex;
    z-index: 800;
}

 .container {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

/* Meno escondido para los botones mobile   */


.menu-btn {
    display: none   ;
}

.logo a {
    text-decoration: none;
    color: var(--firts-color);
    font-size: var(--lg);
    font-weight: bold;
}



/* *****menu**** */

.menu  a {
    text-decoration: none;
    color: var(--firts-color);
    margin: 16px;
    font-size: var(--md);
    font-weight: bold;
}

.menu a:hover {
    color: grey;
}

/* Section one */



 .hero-image-container {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    

}

.hero-image-video {
 position: absolute;
 top: 0;
 left: 0;
 width: 100vw;
 height: 100vh;
 overflow: hidden;


}

.overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--black-color);
    width: 100% ;
    height: 100%;
    z-index: 1;
    opacity: .60;
    margin: 0;


}

.hero-image-content {

position: relative;
top: 50%;
left: 15%;
z-index: 3;
width: 600px;
color: var(--firts-color);
}

.hero-image-content h2 {
    font-size: var(--Xlg);
}

.hero-image-content  p {
    margin-top: 16px;
    margin-bottom: 16px;
 font-size: var(--md);
 font-weight: 300;
}

.hero-image-content button {
    width: 100px;
    height: 40px;
    background-color: #0077c0;
    border: none;
    color: var(--firts-color);
    font-size:var(--md);
    border-radius: 16px;
    font-weight: bold;
}
 button a {
    text-decoration: none;
    color: var(--firts-color);
}



/* Seccion 2 */


.descriptive-section {
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 700px;
    padding: 16px;
    background-image: url('/assets/services-container.jpg');
    background-position: center;
    background-size: cover;
    color: var(--firts-color);
    z-index: 10;
    top: 0;
}

.descriptive-section-1 {
    display: flex;
    flex-direction: row;
    background-color: #000;
    width: 600px;
    height: 300px;
    padding: 16px;


    

}

.descriptive-section__text{
    display: block;
    padding: 16px;


}

.descriptive-section__text h2{
    margin-bottom: 16px;
    font-size: var(--lg);
}

.descriptive-section__text p:nth-child(2) { 
    font-size: var(--md);
    margin-bottom: 16px;
}


/* Benefits section */

.benefits-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    z-index: 100;
    margin: 0;

}

.benefits-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;   
    width: 300px;
    height: 150px;
    margin: 16px;
    padding: 30px;
    background-color: var(--firts-color);
    color: var(--black-color);
    border-radius: 16px;
    margin-bottom: 0;
    cursor: pointer;
}





.benefits-item img {


    width: 50px;
    height: 20px;
}

.benefits-item .item-titulo {
    font-size: 1.8rem;
    font-weight: bold;
}

.benefits-item .item-descrption {
    font-size: 1.4rem;
    margin-top: 6px;
}

.benefits-container-mobile {
    display: none;
}








/* 
.plans {
    width: 100%;
    background-color: yellow;
    z-index: 0;
    margin: 0;
}

.plans__title {
    margin:auto;
    align-items: center;
    text-align: center;
}

.plans__title h2 {
    font-size: 3.0rem;
    line-height: 1.5;
}

.plans__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.plans__items {
    position: relative;
    width: 70%;
    min-width: 320px;
    max-width: 350px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(89 73 30 / 16%);
}

.plans__items-title {
    position: absolute;
    top: -16px;
    left:  calc(50% - 60px);
    width: 130px;
    height: 31px;
    padding: 6px;
    background-color: var(--second-color);
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    color: var(--firts-color);
}

.plans__items-title--final-title {
    height: 45px;
}


.plans__items-content {
    padding-top: 50px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
    text-align: center;
}

.plans__item-price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: var(--black);
}

.plans__item-price span {
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    top: -25px;
}

.plans__items-content .Plans__item-text {
 text-align: left;
 padding-bottom: 36px;
}

.Plans__item-text p {
    margin-bottom: 8px;
}

.plans__item-recomendacion {
 font-size: 14px;
 font-weight: bold;
 margin-top: 48px;
 text-align: left;
} */

/* About*/


.about {
    position: relative;
    width: 100%;
    background-color: black;
    text-align: center;
    height: 600px;
    color: var(--firts-color);
}




.about__Container-text {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}

.about__Container-text img {
    width: 400px;
    height: 400px;
}

.about__text {
    text-align: left;
    width: 600px;
    font-family: 'Roboto' ;
    font-size: var(--xlg);
    font-weight: 400;
    margin: 16px;
}

.about__text p:nth-child(1) {
    font-size: var(--lg);
    font-weight: bold;
    margin-bottom: 16px;
}

.about__text p:nth-child(2) {
    font-size: var(--md);
    margin-bottom: 32px;
}

/* *****Portafolio***** */

#portafolio {
    width: 100%;
    text-align: center;
    margin: auto;
}

.portafolio-title h2 {
 font-size: var(--Xlg);
 margin-top: 16px;

}

.portafolio-title p {
    font-size: var(--lg);
}

.portafolio-items-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 16px;
}

.portafolio-items {
    margin: 16px;
    width: 300px;
    border-radius:  0 16px 0 16px;
    box-shadow: 0 4px 8px rgb(89 73 30 / 50%);
    transition: all  0.2s ease;

}


.portafolio-items:hover {
    width: 350px;
}

.portafolio-items img {
    width: 100%;
}

.portafolio-items p {
    text-align: left;
    margin: 16px;
}


.portafolio-items p:nth-child(2) {
    font-size: var(--lg);
    font-weight: bold;
}

.portafolio-items p:nth-child(3) {
    font-size: var(--md);
}



 /*  Formulario De Contacto  */

 .Contacto__container {
  background-color: var(--black-color);
  color: var(--firts-color);
 }

 .Contacto{
    min-height: 100vh;
    width: 100%;
    display: flex;
 }


 .Contacto__title {
    font-size: var(--Xlg);
    text-align: center;
    font-weight: bold;
    padding-top: 32px;
    color: var(--firts-color);
 }

 .contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
 }

 

 .contacto-informacion {
    width: 600px;
    margin: 16px;
   

 }

 .contacto-informacion p:nth-child(1) {
    font-size: var(--Elg);
    margin-bottom: 16px;
 }

 .contacto-informacion p:nth-child(2) {
    font-size: 15px;
 }

 .contacto-informacion button {
    width: 100px;
    height: 40px;
    background-color: #0077c0;
    border: none;
    color: var(--firts-color);
    font-size: var(--md);
    border-radius: 16px;
    font-weight: bold;
    margin-top: 16px;
 }

 .contacto-img img {
    width: 600px;
 }






/*TESTMONIO*/

.testimonios {
    background-color: var(--gray-light-color);
}

.testimonios__title {
    padding-top: 32px;
    text-align: center;
    font-size: var(--md);
}

.testimonios__title h3 {
    text-align: center;
    font-size: var(--Xlg);
}




.testimonios__card-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.testimonios__item {
    width: 300px;
    margin: 48px;
    padding: 16px;
    background-color: var(--firts-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(89 73 30 / 50%);
}




.testimonios__item div {

    width: 120px;
    height: 120px;
    border-radius: 50%;

}

.testimonios__item  p {
    
    margin-top: 12px;
    font-size: 14px;

}

.testimonios__item p:nth-child(2){
    font-size: var(--lg);
}

.testimonios__item1 div {
   background-image: url(../assets/Valeria.png) ;
   background-size: cover;
   background-position-x: center;
   background-repeat: no-repeat;


}

.testimonios__item2 div {
    background-image: url(../assets/Berni\ 1.png) ;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
 }

 
 .testimonios__item3 div {
    background-image: url(../assets/Ray.jpg) ;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
 }





footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 300px;
    background-color: black;
    color: var(--firts-color);
    text-align: center;

}


footer .logo {
    text-align: center;
    margin-bottom: 32px;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.redes-sociales__item {
    text-align: center;
    margin-right: 16px;
}

.redes-sociales__item a {
    text-decoration: none;
    color: var(--firts-color);
}

.redes-sociales__item p {
 font-size: var(--md);
}

.redes-sociales__item img {
    width: 40px;
}


.coopyrigth {
    margin-top: 32px;
}

@media (max-width: 999px) {
  

 /* Menu Responsive  */

 .menu {
    display: none;
 }

 .menu-btn {
    display: block;
 }

 /* Hero image  */


 .hero-image-container {
    width: 100vw;
     height: 700px;
 }


 .hero-image-content {
    width: 400px;
    
    }
    
    .hero-image-content h2 {
        font-size: var(--lg);
    }
    
    .hero-image-content  p {
     font-size: var(--sm);
     font-weight: 400;
     
    }
    
    .hero-image-content button {
        width: 100px;
        height: 40px;
        background-color: #0077c0;
        border: none;
        color: var(--firts-color);
        font-size:var(--md);
        border-radius: 16px;
        font-weight: bold;
    }
    


    /* Seccion 2 */
    .descriptive-section {
        display: flex;
        justify-content: space-between;

    }


    
    .descriptive-section-1 {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        background-color: #000;
        width: 400px;
        height: auto;
        padding: 16px;
        position: relative;
        bottom: 0;
        right: 0;
    
    
    
        
    
    }
    
    .descriptive-section__text{
        display: block;
        padding: 16px;
    
    
    }
    
    .descriptive-section__text h2{
        margin-bottom: 16px;
        font-size: var(--md);
    }
    
    .descriptive-section__text p:nth-child(2) { 
        font-size: var(--sm);
        margin-bottom: 16px;
    }
    


    /* Benefits section */

.benefits-container {
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    right: 0;
    top:0; 
    z-index: 100;

}

.benefits-item {
    display: flex;
    flex-direction: column;
    justify-content: end; 
    width: 200px;
    height: 150px;
    margin: 16px;
    background-color: var(--firts-color);
    color: var(--black-color);
    border-radius: 16px;
    margin-bottom: 0;
    cursor: pointer;
}





.benefits-item img {


    width: 20px;
    height: 15px;
}

.benefits-item .item-titulo {
    font-size: 15px;
    font-weight: bold;
}

.benefits-item .item-descrption {
    font-size: 12px;

}


/* About me */ 

.about  {
    height: 900px;
}

.about__Container-text  {

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}


/* Portafolio */

.portafolio-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 16px;




}

.portafolio-items {
    margin: 32px;
}


        /* Contacto */


        .contacto {
            display: flex;
            flex-direction: column;
            justify-content: center; 
        
        }

.contacto-informacion {
            width: 442px;
            margin: 16px; 
        
        }

        .contacto-img img {
            width: 400px;
        }
}

@media (max-width: 500px) {

    
 .hero-image-container {
    height: 600px;
}

.hero-image-content {
    width: 250px;
    
    }
    
    .hero-image-content h2 {
        font-size: var(--md);
    }
    
    .hero-image-content  p {
     font-size: 12px;
     font-weight: 400;
     
    }
    
    .hero-image-content button {
        width: 100px;
        height: 40px;
        background-color: #0077c0;
        border: none;
        color: var(--firts-color);
        font-size:var(--md);
        border-radius: 16px;
        font-weight: bold;
    }


 /* Seccion 2 */
 .descriptive-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



.descriptive-section-1 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    background-color: #000;
    width: 100%;
    height: auto;
    padding: 16px;
    position: relative;
    bottom: 0;
    right: 0;



    

}

.descriptive-section__text{
    display: block;
    padding: 16px;


}

.descriptive-section__text h2{
    margin-bottom: 16px;
    font-size: var(--sm);
}

.descriptive-section__text p:nth-child(2) { 
    font-size: var(--sm);
    margin-bottom: 16px;
}



/* Benefits section */

.benefits-container {

display: none;

}


/* Benefits section  version mobile*/

.benefits-container-mobile {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: auto;

}

.benefits-container-mobile h2 {
    margin: 16px;
    text-align: center;
    font-weight: bold;
}

.benefits-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;   
    width: 300px;
    height: 150px;
    margin: auto;

}





.benefits-item img {


    width: 50px;
    height: 20px;
}

.benefits-item .item-titulo {
    font-size: 1.8rem;
    font-weight: bold;
}

.benefits-item .item-descrption {
    font-size: 1.4rem;
    margin-top: 6px;
}


/* About me  */

.about {
    height: 1100px;
}

.about__text {
    width: 340px;
    padding: 0;
    font-size: var(--sm);
}



        /* Contacto */

       .Contacto__title {
        font-size: var(--lg)    ;

        }

.contacto-informacion {
    font-size: var(--sm);
            width: 300px;
            margin: 16px; 
        
        }
        
        .contacto-informacion p:nth-child(1) {
            font-size: var(--md);
            margin-bottom: 16px; }



        .contacto-img img {
            width: 300px;
        }










}