/* Orden para maquetar
 propiedades de modelo de caja (display, width height, margin, etc)
 posicionamiento (position, top, left, rigth, etc)
 tipografia
 decoracion (backgraund,color, etc)
 variables 
 mixiens
 */

 :root {
    --firts-color:#fff;
    --firts-alpha-color: rgba(217, 0, 98, 0.7);
    --second-color: #000;
    --second-alpha-color: rgba(20, 25, 45, 0.7);
    --third-color: #501464;
    --third-alpha-color: rgba(80, 20, 100, 0.7);
    --white-color: #fff;
    --gray-light-color: #f9f9f9;
    --gray-color: #cccccc;
    --gray-dark-color: #666666;
    --black-color: #000000;
    --link-color: #509ee3;
    --title-color: #333333;
    --text-color:#222222;
    --white-aplha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --sm: 12px ;
    --md: 16px ;
    --lg: 24px;
    --Xlg: 32px;

 }

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto','Montserrat', sans-serif;
    
    scroll-behavior: smooth;
}

body{
    margin: auto;
    max-width: 1500px;
    min-width: 300px; 
    overflow-x: hidden;
}

main {
    max-width: 1500px;
    min-width: 300px;
    margin: auto;
}

h2 {
    font-size: 1.8rem;
}

p {
    font-size: 1.2rem;
}
/* ******Cabecera****** */

.header {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1.6rem;
    width: 100%;
    height: 64px;
    background-color: var(--second-color);
}

.header >.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}


.logo a{
    color: var(--firts-color);
    font-weight:bold ;
    font-size: 2rem;
    text-decoration: none;
}

/* *****menu**** */
.none {
    display: none;
}
.menu-btn {
    outline: thin solid var(--firts-color);
    border: 0;
    cursor: pointer;
    background-color: var(--second-color);
   }
   
   .menu-btn svg {
       fill: var(--firts-color);
   }
   
   .menu {
       position: fixed;
       left: 0;
       bottom: 6rem;
       width: 100vw;
       display: flex;
       flex-direction: column;
       font-size: 1.4rem;
       opacity: 0;
       pointer-events: none;
       transition: opacity .5s ease;
       background-color: var(--second-color);
       
   }
   
   .menu.is-active{
       opacity: 1;
       pointer-events: auto;
   }
   
   .menu a {
       padding: 1rem;
       font-size: 1.6 rem;
       font-weight: bold;
       text-align: center;
       text-decoration: none;
       color: var(--firts-color);
   
   }
   
   .menu a:hover {
       color: gray;
       background-color: var(--firts-color);
   }



/* Section one */




.hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../assets/Hero-image.jpg);
    background-repeat: no-repeat;
    background-size: 450px;
    background-attachment: fixed;

}

.hero-image__opacity {
    width: 100%;
    background-color: var(--black-alpha-color);
    
}

.hero-image__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 225px;
    color: var(--firts-color);

}

h1 {
    font-size: 6.5vw;
   
}

.hero-image__container p {
    font-size: 3.5vw;
    font-weight: bold;
   

}

.btn {
    width: 100px;
    height: 40px;
    margin-top: 16px;
    text-decoration: none;
    text-align: center;
    padding: 13px;
    font-size: 1.3rem;
    font-weight: bold;
    
    background-color: var(--second-color);
    color: var(--firts-color);
    border-radius: 10px;
}

.hero-image__container a:hover {
    background-color: var(--firts-color);
    color: var(--second-color);
}


.descriptive-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    background-color: var(--gray-light-color);
}

.descriptive-section img{  
    width: 300px;
    margin: 16px;
}

.descriptive-section__text{
    padding-top: 16px;
    margin: 0 16px;
}

.descriptive-section__text h2{
    margin-bottom: 16px;
    text-align: left;
    font-size: var(--lg);
}

.descriptive-section__text p:nth-child(2) {
    font-size: var(--md);
    margin-bottom: 16px;
}


/* *****Section Services*******/

.Services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 48px;
   background-color: var(--gray-light-color);
}


.Services article {
    width: 310px;
    margin: 16px;
    padding: 16px;
}

 article svg {
    fill: var(--second-color);
}

.services__items .item-titulo {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5;
    color: var(--second-color);

}

.services__items .item-descrption {
    font-size: 1.4rem;
}





.plans {
    width: 100%;
}

.plans__title {
    margin: 32px auto;
    align-items: center;
    text-align: center;
}

.plans__title h2 {
    font-size: 3.0rem;
    line-height: 1.5;
}

.plans__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.plans__items {
    position: relative;
    width: 70%;
    min-width: 320px;
    max-width: 350px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(89 73 30 / 16%);
}

.plans__items-title {
    position: absolute;
    top: -16px;
    left:  calc(50% - 60px);
    width: 130px;
    height: 31px;
    padding: 6px;
    background-color: var(--second-color);
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    color: var(--firts-color);
}

.plans__items-title--final-title {
    height: 45px;
}


.plans__items-content {
    padding-top: 50px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
    text-align: center;
}

.plans__item-price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: var(--black);
}

.plans__item-price span {
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    top: -25px;
}

.plans__items-content .Plans__item-text {
 text-align: left;
 padding-bottom: 36px;
}

.Plans__item-text p {
    margin-bottom: 8px;
}

.plans__item-recomendacion {
 font-size: 14px;
 font-weight: bold;
 margin-top: 48px;
 text-align: left;
}

/* About*/

.about {
    margin-top: 32px;
    width: 100%;
 background-color: var(--gray-light-color);
    text-align: center;
}

.about h2 {
    font-size: var(--Xlg);
    text-align: center;
    padding: 32px;
}

.about__Container-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;

}

.about__Container-text img {
    width: 250px;
}

.about__text {
    width: 300px;
    font-family: 'Roboto' ;
    font-size: var(--xlg);
    font-weight: 400;
    margin: 16px;
}

.about__text p:nth-child(1) {
    font-size: var(--lg);
    font-weight: bold;
    margin-bottom: 32px;
}

.about__text p:nth-child(2) {
    font-size: var(--md);
    margin-bottom: 32px;
}

/* *****Portafolio***** */

#portafolio {
    width: 100%;
    text-align: center;
    margin: auto;
}

.portafolio__title {
    padding-top: 32px;
}


.portafolio-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 16px auto;
    
}

.portafolio-cards a {
    text-decoration: none;
    color: var(--black-color);
}

.portafolio__item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 32px 16px;
    box-shadow: -6px 12px 13px -5px rgb(0 0 0 / 46%);
    border-radius: 22px;


}


.portafolio__item img{
    width: 300px;
    border-radius: 22px 22px 0 0px;

}


.portafolio__item h3 {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 10px;
}

.portafolio__item p {
    width: 300px;
    padding: 16px;
    text-align: left;
    font-size: 14px;
}





 /*  Formulario De Contacto  */

 .Contacto__container {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
 }

 .Contacto{
    min-height: 100vh;
    width: 100%;
    display: flex;
 }


 .Contacto__title {
    font-size: var(--Xlg);
    text-align: center;
    font-weight: bold;
    padding-top: 32px;
    color: var(--firts-color);
 }

 .form {
    background-color: var(--firts-color);
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em .5em;
 }

 .form__container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
 }

 .form__title  {
    text-align: center;
    font-size: 1.9em;
 }

 .form__input {
    font-family: inherit;
    font-size: 2rem;
    padding: .8em 1em;
    overflow: unset;
    border: none;
    border: 1px solid #fff;
    border-radius: 0.2em;
 }

 .form__cta {
    font-family: inherit;
    font-size: 2rem;
    background-color: var(--second-color);
    color: var(--white-color);
    border: none;
    font-weight: bold;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
 }

 .form__input--message {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: 1.5em;
 }






/*TESTMONIO*/

.testimonios {
    background-color: var(--gray-light-color);
}

.testimonios__title {
    padding-top: 32px;
    text-align: center;
    font-size: var(--md);
}

.testimonios__title h3 {
    text-align: center;
    font-size: var(--Xlg);
}




.testimonios__card-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.testimonios__item {
    width: 300px;
    margin: 48px;
    padding: 16px;
    background-color: var(--firts-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(89 73 30 / 50%);
}




.testimonios__item div {

    width: 120px;
    height: 120px;
    border-radius: 50%;

}

.testimonios__item  p {
    
    margin-top: 12px;
    font-size: 14px;

}

.testimonios__item p:nth-child(2){
    font-size: var(--lg);
}

.testimonios__item1 div {
   background-image: url(../assets/Valeria.png) ;
   background-size: cover;
   background-position-x: center;
   background-repeat: no-repeat;


}

.testimonios__item2 div {
    background-image: url(../assets/Berni\ 1.png) ;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
 }

 
 .testimonios__item3 div {
    background-image: url(../assets/Ray.jpg) ;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
 }





footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 300px;
    background-color: black;
    color: var(--firts-color);
    text-align: center;

}


footer .logo {
    text-align: center;
    margin-bottom: 32px;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.redes-sociales__item {
    text-align: center;
    margin-right: 16px;
}

.redes-sociales__item a {
    text-decoration: none;
    color: var(--firts-color);
}

.redes-sociales__item p {
 font-size: var(--md);
}

.redes-sociales__item img {
    width: 40px;
}


.coopyrigth {
    margin-top: 32px;
}


